@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

:root {
  --background: #242424;
  --foreground: whitesmoke;
  --border-color: rgba(200, 200, 200, 0.1);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --font-crimson-pro: "Crimson Pro", serif;
}