:root {
  --line-color: rgba(255, 255, 255, 0.1);
  --line-gap: 24px;
  --line-width: 1px;
}

.verticalLine {
  width: var(--line-width);
  background: linear-gradient(180deg,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent);
  background-size: var(--line-width) var(--line-gap);
}